<%= link_to "← #{@chat.project.title}", project_path(@chat.project) %>

<h1 id="chat_title"><%= @chat.title %></h1>

<% @chat.messages.each do |message| %>
<% if @chat.messages.last == message && message.role == "assistant" %>
  <%= cl_image_tag @chat.furniture.image.key if @chat.furniture.image.attached? %>
<% end %>
  <p>
    <strong><%= message.role %></strong>
    <%= message.content %>
  </p>
<% end %>

<div id="new_message_container">
    <%= simple_form_for [@chat, @message] do |f| %>
    <%= f.input :content, label: "Ask a question", required: true, placeholder: "How should I get started with the challenge?" %>
    <%= f.button :submit, 'Ask LLM', class: 'btn btn-primary' %>
  <% end %>
</div>
