<%# titre de la page %>
<h1>Mes projets</h1>

<%# bouton pour créer un nouveau projet %>
<%= link_to "+ Nouveau projet", new_project_path, class: "btn-primary" %>

<%# grille des cartes de projets %>
<div class="all-projects">
  <%# une carte par projet %>
  <% @projects.each do |project| %>
    <div class="card-trip">

      <%# on cherche le premier meuble du projet dont l'image (le visuel) est générée %>
      <% visuel = project.furnitures.find { |furniture| furniture.image.attached? } %>

      <%# si un visuel a été généré, on affiche sa photo en haut de la carte %>
      <% if visuel %>
        <%= cl_image_tag visuel.image.key %>
      <% else %>
        <%# sinon, pas encore de visuel : on met une image d'exemple %>
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <% end %>

      <%# bas de la carte : infos du projet + bouton %>
      <div class="card-trip-infos">
        <div>
          <%# titre du projet %>
          <h2><%= project.title %></h2>
          <%# nombre de discussions du projet %>
          <p><%= pluralize(project.chats.size, "discussion") %></p>
        </div>
        <%# bouton pour ouvrir le projet %>
        <%= link_to "Voir le projet", project_path(project), class: "card-btn card-btn--primaire" %>
      </div>

    </div>
  <% end %>
</div>
