<div class="content">
  <p class="label-top">Nouveau projet</p>
  <h1 class="headline">
    Comment voulez-vous<br>
    <em>nommer</em> votre projet ?
  </h1>
  <p class="subtitle">Vous pourrez modifier ces informations à tout moment.</p>

  <%= form_with model: @project do |f| %>
    <% if @project.errors.any? %>
      <% @project.errors.full_messages.each do |msg| %>
        <p class="form-erreur"><%= msg %></p>
      <% end %>
    <% end %>

    <%= f.label :title, "Nom du projet", class: "field-label" %>
    <%= f.text_field :title, placeholder: "Ex : Appartement Bastille", class: "field-input" %>

    <%= f.label :description, "Description", class: "field-label" %>
    <%= f.text_area :description, placeholder: "Décrivez le projet...", class: "field-textarea" %>

    <%= f.submit "Créer le projet", class: "btn-submit" %>
  <% end %>
</div>
