<div class="row">
  <div class="col">
    <h1><%= @project.name %></h1>
    <%= raw(render_markdown(@project.content)) %>
  </div>
  <div class="col-md-3">
    <h2>Chats</h2>
    <div class="mb-4">
      <% if @chats.any? %>
        <ul>
          <% @chats.each do |chat| %>
            <li><%= link_to chat.title, chat_path(chat) %></li>
          <% end %>
        </ul>
      <% else %>
        There are no chats yet.
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <h1><%= @project.name %></h1>
    <%= raw(render_markdown(@project.content)) %>
  </div>
  <div class="col-md-3">
    <h2>Chats</h2>
    <!-- ... -->

    <%= button_to "New chat", rpoject_chats_path(@project), class: "btn btn-primary" %>
  </div>
</div>

<%= link_to "← #{@chat.project.name}", project_path(@chat.project) %>

<h1 id="chat_title"><%= @chat.title %></h1>

<div id="new_message_container">
  <%= simple_form_for [@chat, @message] do |f| %>
    <%= f.input :content, label: "Ask a question", required: true, placeholder: "How should I get started with the project?" %>
    <%= f.button :submit, 'Ask LLM', class: 'btn btn-primary' %>
  <% end %>
</div>
