<div class="row">
  <div class="col">
    <h1><%= @project.title %></h1>
    <%= @project.description %>
  </div>
  <div class="col-md-3">
    <h2>Chats</h2>
    <div class="mb-4">
      <% if @chats.present? %>
        <ul>
          <% @chats.each do |chat| %>
            <li><%= link_to chat.title, chat_path(chat) %></li>
          <% end %>
        </ul>
      <% else %>
        There are no chats yet.
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <h1><%= @project.title %></h1>
    <%= @project.description %>
  </div>
  <div class="col-md-3">
    <h2>Chats</h2>
    <!-- ... -->

    <%= button_to "New chat", project_chats_path(@project), class: "btn btn-primary" %>
  </div>
</div>

<div class="all-projects">
  <div class="card-trip">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
    <div class="card-trip-infos">
      <div>
        <h2>Title here</h2>
        <p>Short description here!</p>
      </div>
    </div>
  </div>

  <div class="card-trip">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
    <div class="card-trip-infos">
      <div>
        <h2>Title here</h2>
        <p>Short description here!</p>
      </div>
    </div>
  </div>

  <div class="card-trip">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
    <div class="card-trip-infos">
      <div>
        <h2>Title here</h2>
        <p>Short description here!</p>
      </div>
    </div>
  </div>

<div>
  <%= button_to "Nouveau chat", project_chats_path(@project), method: :post %>
</div>
<%# <%= link_to "← #{@chat.project.title}", project_path(@chat.project) %>

<% if @chat.present? %>
  <h1 id="chat_title"><%= @chat.title %></h1>
<% else %>
  <p>Aucun chat pour ce projet pour le moment.</p>
<% end %>
